<section id="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="menu_bar">
                    <nav class="navbar navbar-expand-lg navbar-light custom-navigation">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item {{equals header.active 'home' 'active'}}">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item {{equals header.active 'sw' 'active'}}">
                                    <a class="nav-link" href="/sw">SW</a>
                                </li>
                                <li class="nav-item {{equals header.active 'hw' 'active'}}">
                                    <a class="nav-link" href="/hw">HW</a>
                                </li>
                                <li class="nav-item {{equals header.active 'connections' 'active'}}">
                                    <a class="nav-link" href="/connections">Connections</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>